html, body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    font-family: 'Chakra Petch', sans-serif;
}

a {
    text-decoration: none;
}

header {
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: #8E44AD;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px -39px 60px 21px #353535;
    z-index: 10;
}

#logo {
    margin-left: 60px;
}

#logo img {
    height: 30px;
    width: auto;
    cursor: pointer;
}

#nav a {
    color: #FFEF00;
}

#nav li {
    list-style-type: none;
    margin-left: 20px;
}

#nav ul {
    display: flex;
    margin-right: 60px;
}

div.banner {
    padding-top: 70px;
    height: 575px;
    width: 100%;
    background-color: #8E44AD;
    display: flex;
}

div.banner-content {
    margin: auto;
    text-align: center;
}


div.banner-content h1 {
    margin: 15px 30px;
    /* padding: 10px; */
    color: #FFEF00;
    border-radius: 10px;
}

#question-text {
    position: absolute;
    margin: 0 50px;
    color: #8E44AD;
    z-index: 1;
    font-size: 20px;
    /* display: block; */
}

div.banner-content img {
    color: #FFEF00;
    height: 280px;
    width: auto;
    margin: auto;
    display: block;
}

#div-card {
    position: relative;
    display: flex;
    bottom: 90px;
    justify-content: center;
    align-items: center;
}

#question-card {
    margin: auto;
    bottom: 90px;
    z-index: 0;
}

div.banner-content p {
    padding-bottom: 30px;
    padding-top: 15px;
    margin: 15px 30px;
    color: #FFEF00;
}

div.banner-content a {
    padding: 12px;
    margin: 10px auto;
    color: #8E44AD;
    background-color: #FFEF00;
    border-radius: 10px;
    transition: all 0.3s;
}

div.banner-content a:hover {
    background-color:#8E44AD;
    color: #FFEF00;
    padding: 15px;
    transition: all 1s;
    font-size: 18px;
    box-shadow: 0px 0px 21px -2px rgba(53,53,53,1);
}

div.banner-content h6 {
    margin-top: 50px;
    /* padding: 10px; */
    color: #FFEF00;
    border-radius: 10px;
}

div.about-us {
    padding-top: 70px;
    height: 575px;
    width: 100%;
    background-color: #8E44AD;
    display: flex;
    justify-content: center;
}

div.about-us-content h2 {
    color: #FFEF00;
    text-align: center;
    margin: 0 30px;
}

div.about-us-content li {
    color: #FFEF00;
    margin: 0 10px;
}

footer {
    height: 100px;
    width: 100%;
    background-color: #FFEF00;
    display: flex;
}

div.footer-content {
    margin: auto;
    text-align: center;
}

div.footer-content h5 {
    color: #8E44AD;
}

div.footer-content img {
    margin: 5px;
    height: 30px;
    width: auto;
}

@media screen and (max-width: 600px) { 
    #nav {
        display: none;
    }

    header {
        justify-content: center;
    }

    #logo {
        margin: auto;
    }

    #question-text {
        margin: auto 5px;
    }

}

/* Micro Clear Fix
.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}


.cf {
    *zoom: 1;
} */